* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

.splide__arrow {
  background: white !important;
  width: 2.1rem !important;
  height: 2.1rem !important;
}
